@import "@sil/themer/app";

body {
  background-color: variable(background);
  color: variable(foreground);
  user-select: none;
}

body[color-mode="light"] {
  @include customProperties($lightmode-colors);
}

body[color-mode="dark"] {
  @include customProperties($darkmode-colors);
}
