$theme-base: (
  borderRadius: 4px,
  //   space: minmax(2rem, calc(100vw / 24)),
  space-xl: calc(100vw / 12),
  space-l: calc(100vw / 16),
  space: calc(100vw / 24),
  space-s: calc(100vw / 48),
  space-xs: calc(100vw / 96),
);
