<div :class="style.bem()">
  <div
    :class="style.bem('line')"
    v-for="line,ldx in keyboardLetters"
    :key="ldx"
  >
    <button
      v-for="letter,lidx in line"
      :key="lidx"
      :class="[style.bem('char'), style.bem('char',letter.status)]"
      @click="setLetter(letter.letter)"
    >
      {{letter.letter}}
    </button>
    <button
      v-if="ldx == keyboardLetters.length - 1 "
      :disabled="current.run.length < 1"
      :class="[style.bem('char'),style.bem('char','backspace')]"
      @click="removeLetter()"
    >
      ←
    </button>
  </div>
</div>
